$background_color_fond: rgb(31, 32, 57);
$background_color_fondlight: rgb(239, 17, 17);
$color_titre: rgb(165, 180, 252);
$color_boutton: rgb(166, 167, 227);
$color_EM: rgb(111, 120, 174);


header {
background-color:$background_color_fondlight;
display: inline;
width: 300px;
box-sizing: border-box;

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;

  img{
    margin: 7% 4%;

  }
  .entete {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    height: 100%;

  }
}
}
 
.accueil-introduction {
    a {
        background-color: rgb(255, 255, 255);
    }
}

h2 {
    color: $color_titre;
    text-align: center;
    margin: 7% auto;
}

.accueil-photos {
    width: 90%;
    margin: 2%;
}

.accueil-photos div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil-photos div img {
    margin: 0.5%;
}

.section-contact {
    padding: 1%;
    color: $background_color_fondlight;
    background-color: $background_color_fond;
}

.section-contact form {
    display: flex;
    flex-direction: column;
}

.form-nom-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-column {
    display: flex;
    flex-direction: column;
}