@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
//VARIABLES
$background_color_fond: rgb(31, 32, 57);
$background_color_fondlight: rgb(255, 255, 255);
$color_titre: rgb(165, 180, 252);
$color_boutton: rgb(166, 167, 227);
$color_EM: rgb(111, 120, 174);
$font: 'Roboto', sans-serif;

//RESET
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: $font;
}

//POLICES
h1 {
    font-size: 70px;
    color: $color_titre;
    font-weight: 100;
}

h2 {
    color: $color_titre;
    text-align: center;
    margin: 7% auto;
}

em {
    color: $color_EM;
    font-style: normal;
}

//BUTTONS
@mixin button {
    color: $background_color_fondlight;
    background-color: rgb(165, 180, 252);
    padding: 3% 4%;
    border-radius: 30px;
}

.cta {
    @include button;
}

//NAVBAR
header {
background-color:$background_color_fond;
display: inline;
width: 300px;
box-sizing: border-box;

nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background_color_fondlight;
  padding: 2% 5%;

  .entete {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    height: 50%;

  }
}
}

//PAGE D'ACCUEIL
//SECTION HERO
.accueil-introduction {
    display: flex;
    padding: 3% 20%;
    background-color: $background_color_fond;
    
    div {
        flex-grow: 2;
    }

    p {
        color: $background_color_fondlight;
        margin: 2% 30% 0% 0%;
    }

    a {
        margin: 4% 0%;
        display: inline-block;
    }

    img {
        flex-grow: 1;
    }
}

//GALERIE PHOTOS
.accueil-photos {
    width: 90%;
    margin: 2%;

    h2 {
        color: $background_color_fond;
    }
}

.accueil-photos div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil-photos div img {
    margin: 0.5%;
}

//SECTION CONTACT
.section-contact {
    padding: 1%;
    color: $background_color_fondlight;
    background-color: $background_color_fond;
}

.section-contact form {
    display: flex;
    flex-direction: column;
}

.form-nom-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    
     input {
      margin: 0% 2%;
      padding: 10px 110px; 
}
}

.form-column {
    display: flex;
    flex-direction: column;
}

textarea {
    margin-bottom: 5%;
}

.message-contact {
  flex-direction: column;
  display: flex; 
  margin: 0% 30% 2%;

}

//PORTFOLIO
.portfolio-section-photos {

.paysages {
  width: 90%;
margin: 2% 0%;


  h2 {
      color: $background_color_fond;
  }
}

.paysages div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.paysages {
  img {
    margin: 0.5%;
    width: 400px;
    height:  400px;
    object-fit: cover;
  }
}
}
